{% extends 'sns/base.html' %}
{% load static %}

{% block title %}
メールアドレスの変更
{% endblock %}

{% block content %}
<div class="container main-contents">
    <div class="row">
        <div class="col-md-3 d-none d-md-block profile-container">
            <div class="profile-main">
                <div class="px-1">
                    <div class="username">
                        <p class="username1">{{ user.username }}</p>
                        <p class="username2">(ID:{{ user.userid }})</p>
                    </div>
                    <div class="profile-pic">
                    <img class="thumbnail" src="{{ user.thumbnail.url }}">
                    </div>
                </div>
                <a href="{% url 'sns:setting' user.pk %}">
                    <div class="setting-navi">
                        ユーザー情報の編集
                    </div>
                </a>
                <a href="{% url 'sns:email_change' %}">
                    <div class="setting-navi">
                        メールアドレスの変更
                    </div>
                </a>
                <a href="{% url 'sns:password_change' %}">
                    <div class="setting-navi">
                        パスワードの変更
                    </div>
                </a>
                <a href="{% url 'sns:logout' %}">
                    <div class="setting-navi">
                        ログアウト
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 setting-wrapper">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="setting-content">
                        <p class="title">メールアドレスの変更完了</p>
                        <p>メールアドレスを変更しました。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}