{% extends 'sns/base.html' %}
{% load static %}

{% block title %}
Friends
{% endblock %}

{% block content %}
<div class="container mypage-contents">
    <div class="profile-container">
        <div class="row profile-main">
            <div class="col-5 px-1">
                <div class="username">
                    <p class="username1">{{ friend.username }}</p>
                    <p class="username2">(ID:{{ friend.userid }})</p>
                </div>
                <div class="profile-pic">
                <img class="thumbnail" src="{{ friend.thumbnail.url }}">
                </div>
            </div>
            <div class="col-7 px-1 user-detail">
                <table>
                    <tr>
                        <th>サポート</th>
                        <td>20</td>
                    </tr>
                    <tr>
                        <th>サポーター</th>
                        <td>40</td>
                    </tr>
                    <tr>
                        <th>レポート</th>
                        <td>40</td>
                    </tr>
                    <tr>
                        <th>総いいね</th>
                        <td>400</td>
                    </tr>
                    <tr>
                        <th>総シェア</th>
                        <td>1500</td>
                    </tr>
                </table>
                <div class="profile-comment">
                    <p class="comment-title">コメント</p>
                    <p class="comment-content">{{ friend.self_intro }}</p>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="follow-btn">フォロー</button>
        </div>
    </div>
    <div class="main-wrapper">
        <div class="post-wrapper">
            {% for message in message_list %}
            <div class="post-content">
                <div class="row post-title">
                    <div class="col-1 px-0 ml-3 mr-1">
                        <img class="user-thum" src="{{ message.owner.thumbnail.url }}">
                    </div>
                    <div class="col-8 px-0">
                        <p class="post-name">{{ message.owner.username }}<span>(ID:{{ message.owner.userid }})</span></p>
                    </div>
                    <div class="col-2">
                        <p class="post-time">{{ message.pub_date }}</p>
                    </div>
                </div>
                <div class="pic-wapper">
                    <img class="post-pic" src="{{ message.post_pic.url }}">
                </div>
                <div class="post-body">
                    <p class="post-text">{{ message.content | linebreaksbr }}</p>
                </div>
                <div class="row mr-3 justify-content-end">
                    <div class="col-2 comment-btn">
                        <i class="far fa-comment"></i>コメント
                    </div>
                    <div class="col-2 comment-btn">
                        <i class="far fa-grin-wink"></i>いいね
                    </div>
                    <div class="col-2 comment-btn">
                        <i class="fas fa-share-square"></i>シェア
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}


{% block extrajs %}
<script>
$(function(){
    $('.follow-btn').on('click',function(e){
        e.preventDefault();
        var that = this;
        //Ajax処理
        $.ajax({
            url: "{% url 'sns:follow_ajax' %}",
            type: "get",
            dataType: "json",
            data:{
                "friend": {{ friend.pk }},
            },
            success: function(data){
                $(that).text(data.display);
            },
        })
    });
});
</script>

{% endblock %}