{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'sns/css/bootstrap.min.css' %}">
        <!-- font -->
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <!-- custom css -->
        <link rel="stylesheet" href="{% static 'sns/css/custom.css' %}">
        <title>パスワード再設定</title>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <p>アプリロゴ</p>
                    <div class="signup-wrapper">
                        <p class="title">パスワードの再設定</p>
                        <p>
                            パスワード再設定用のメールを送信しました。<br>
                            メールに記載されているリンクから再設定を行ってください。
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'sns/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'sns/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'sns/js/jquery.uploadThumbs.js' %}"></script>
        <script src="{% static 'sns/js/custom.js' %}"></script>
    </body>
</html>